body
{
    background: black;
    font-size: 25px;
}

#myNav{
    background-color: #563d7c;
 }

 section{
background: rgb(0, 0, 0);
 }

#projectContainer{
    width: fit-content;
    height: wrap-content;
}
h3{
    margin-top: 40px;
    background: black;
    width: fit-content;
    height: fit-content;
}
#project1
{
    margin-top: 20%;
}
a{
    text-decoration: none;
}